<%= simple_form_for [@picture, @picture.comments.build] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :raiting, as: :radio_buttons, :collection => [ ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5] ], :checked => ['1', 1] %>
    <%= f.input :user_id, value: current_user.id %>
    <%= f.input :picture_id, value: @picture.id %>
    <%= f.input :text %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
