<p id="notice"><%= notice %></p>


<div class="row">
  <% @pictures.each do |picture| %>
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag(picture.image_url(:large)) %>
      <div class="caption">
        <p>Rating: <%= picture.average_rating %></p>
        <h3>Author: <%= link_to picture.user.name, user_profile_path(picture.user_id) %></h3>
        <p><%= link_to 'Show', picture if can? :read, class: "btn btn-primary" %></p>
        <p><%= link_to 'Add comment', picture, class: "btn btn-primary" %></p>

      </div>
    </div>
  </div>
  <% end %>

</div>








<%= link_to 'New Picture', new_picture_path %>
