<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>
<p>
  <strong>Rating:</strong>
  <%= @picture.average_rating%>
</p>

<p>
  <%= image_tag(@picture.image_url(:large)) %>
</p>

<p>
  <strong>Author:</strong>
  <%= @picture.user.name %>
</p>
<% if can? :update, @picture %><%= link_to 'Edit', edit_picture_path(@picture), class: 'btn btn-default' %> <% end %>
<% if can? :destroy, @picture %><%= link_to 'Delete', picture_path(@picture), method: :delete, data: {confirm: "Are you sue?"}, class: 'btn btn-default' %> <% end %>

  <h3>Add a comment:</h3>
  <%= render 'comments/form' %>
<div class="list-group">
  <% @picture.comments.order('created_at DESC').each do |comment| %>
      <ol id="comments" class="list-group-item-text btn-group btn-group-xs">
        <strong>Author: </strong> <%= comment.user.name %><br>
        <strong>Author: </strong> <%= comment.raiting %> <br>
        <%= comment.text %> <br>
        <% if can? :destroy, comment %><%= link_to "Delete comment", picture_comment_path(comment.picture_id, comment.id), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger"  %> <% end %>
        <br>
        ___________________________________________________________________________________
      </ol>
  <% end %>
</div>


<%= link_to 'Back', pictures_path %>
