<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>
<p>
  <strong>Rating:</strong>
  <%= @picture.average_rating%>
</p>

<p>
  <%= image_tag(@picture.image_url(:large)) %>
</p>

<p>
  <strong>Author:</strong>
  <%= @picture.user.name %>
</p>
<% if can? :update, @picture %><%= link_to 'Edit', edit_picture_path(@picture), class: 'btn btn-default' %> <% end %>
<% if can? :destroy, @picture %><%= link_to 'Delete', picture_path(@picture), method: :delete, data: {confirm: "Are you sue?"}, class: 'btn btn-default' %> <% end %>
<h2><%= link_to 'Comments', '#comment-section', id: 'comments-link', data: {toggle: "collapse"}, class: "btn btn-info" %></h2>
<div id="comment-section" class="panel-collapse collapse">
  <div class="list-group">
    <% @picture.comments.each do |comment| %>
    <ol id="comments" class="list-group-item-text">
      <strong>Author: </strong> <%= comment.user.name %><br>
      <%= comment.raiting %> <br>
      <%= comment.text %> <br>
      ___________________________________________________________________________________
    </ol>
    <% end %>
  </div>

  <h3>Add a comment:</h3>
  <%= render 'comments/form' %>
</div>


<%= link_to 'Back', pictures_path %>
