<h1><%= @user.name %></h1>
<div class="row">
  <% @user.pictures.each do |picture| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag(picture.image_url(:large)) %>
          <div class="caption">
            <p>Title: <%= picture.title %></p>
            <p>Rating: <%= picture.average_rating %></p>
            <% if can? :update, picture %><%= link_to 'Edit', edit_picture_path(picture), class: 'btn btn-default' %> <% end %>
            <% if can? :destroy, picture %><%= link_to 'Delete', picture_path(picture), method: :delete, data: {confirm: "Are you sue?"}, class: 'btn btn-default' %> <% end %>

            <div class="list-group">
                <% picture.comments.each do |comment| %>
                    <ol id="comments" class="list-group-item-text">
                      <strong>Author: </strong> <%= comment.user.name %><br>
                      <strong>Rating: </strong><%= comment.raiting %> <br>
                      <%= comment.text %> <br>
                      ____________________________________
                    </ol>
                <% end %>
              </div>
              <%= link_to 'Add a comment', picture, class: "btn btn-default" %>
          </div>
        </div>
      </div>
  <% end %>

</div>

